<ng-container *ngIf="(puzz$ | async) as puzz">
  <div class="container main">
    <div class="d-flex justify-content-center mb-3">
      <app-hangman [puzz]="puzz" ></app-hangman>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <app-screen [puzz]="puzz"></app-screen>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <app-keyboard [puzz]="puzz" (activatedGuess)="guess($event)" ></app-keyboard>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <app-button-list (activatedStart)="start()" ></app-button-list>
    </div>
    <div class="d-flex justify-content-center mb-1">
      <app-github></app-github>
    </div>
  </div>
</ng-container>
