<div class="container main">
  <div class="d-flex justify-content-center mb-3">
    <app-hangman></app-hangman>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <app-screen></app-screen>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <app-keyboard></app-keyboard>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <app-button-list></app-button-list>
  </div>
  <div class="d-flex justify-content-center mb-1">
    <app-github></app-github>
  </div>
</div>
